<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>VasirEngine Interaction</title>
    <!-- CSS -->
    <link href='/static/css/style.less' rel='stylesheet/less' type='text/css'>
</head>
<body>
<div id='site_wrapper'>
     <!-- ================================
        Header
        ================================= -->
    <div id='header_wrapper'>
        <div id='header'>
            <div id='logo'>
                <a href='/' rel='nofollow'
                    title='Personal page of Erik Hazzard'>
                    Vasir Engine</a>
            </div>

            <div id='site_nav_wrapper'>
                <div id='site_nav'>
                    <ul>
                        <li>
                            <span id='link_about'>About</span>
                        </li>
                    </ul>
                    <div class='clear'></div>
                </div>
            </div>
        </div>
    </div>

     <!-- ================================
        Content
        ================================= -->
    {% block site_content %}
        <div id='content_wrapper'>
            <div id='content'>
                <!-- ================================ 
                    Canvas (World representation)
                    ================================= -->
                <div id='canvas_wrapper'>
                    <canvas id='canvas' 
                    width='600' height='500'></canvas>
                </div>

                <!-- ================================ 
                    Select Entity Actions 
                    ================================= -->
                <div id='entity_action_wrapper' class='visibility_none'>
                    <h2>Selected Entity</h2>
                    <div id='entity_actions'>
                        <div id='selected_entity_wrapper'>
                            <div id='selected_entity'>
                                No Entity Selected
                            </div>
                            <div id='selected_entity_target_wrapper'>
                                Target: <span id='target_entity_id' 
                                    class='no_target'>None</span>
                            </div>
                        </div>
                        <h2>Actions</h2>
                        <div id='entity_action_buttons' class='buttons'>
                            <a id='get_entity_info'
                                href='#' class='button big'>Get Entity Info</a>
                            <br /><br />
                            <a id='set_entity_target'
                                href='#' class='button big'
                                title='Click on an entity to the right to set this
                                entitys target'>Set Target</a>
                            <br /><br />
                            <a id='converse'
                                href='#' class='button big'
                                title='Run the converse action on the selected entity
                                and its target'>Converse</a>
                            <br /><br />
                            <a id='clear_entity_selection'
                                href='#' class='button big'>Clear Selection</a>
                        </div>
                    </div>
                </div>

                <!-- ================================ 
                    All Entities List
                    ================================= -->
                <div id='entities_list_wrapper' class=''>
                    <h2 id='entities_list_header'>All Entities</h2>
                    <div id='entities_list'>
                        <ul id='entities_list_ul' class='buttons'>
                            <!-- Entities go here -->
                        </ul>
                    </div>
                </div>


                <!-- ================================ 
                    Engine Actions
                    ================================= -->
                <div id='engine_action_wrapper'>
                    <h2>Engine Actions</h2>
                    <div id='engine_actions'>
                        <div id='engine_action_buttons' class='buttons'>
                            <a id='add_entity' href='#' 
                                class='button add-big'>Add Entity</a>
                            <br />
                            <br />
                            <a id='get_entities'
                                href='#' class='button flag-big'>Get All Entities</a>
                        </div>
                    </div>
                </div>


                <div class='clear'></div>
            </div>

            <!-- ================================ 
                Engine Log
                ================================= -->
            <div id='engine_log_wrapper'>
                <div id='engine_log'>
                    <ul id='engine_log_ul'>
                        <!-- Insert log messages here -->
                        <li>Vasir Engine Interaction - Initialized</li>
                    </ul>
                </div>
                <div id='engine_log_buttons' class='buttons'>
                    <a id='clear_log'
                        href='#' class='button'>Clear Log</a>
                </div>
            </div>
        </div>
    {% endblock %}

    <!-- ================================ 
        Entity Info
        ================================= -->
    <div id='entity_information_wrapper'>
        <div id='entity_information_header'>
            <h2 id='entity_information_entity_name'></h2>
            <div id='entity_information_close_wrapper' class='buttons'>
                <a id='entity_information_close'
                    href='#' class='button big'>Hide</a>
            </div>
        </div>
        <div id='entity_information'>
            <!-- Entity Info goes here -->
            <div id='entity_side_info'></div>

            <!-- Network graph of entity's network -->
            <div id='entity_information_network_wrapper'>
                Network
                <div id='entity_information_network_container'>
                    <!-- Network chart will go here -->
                </div>
            </div>

            <!-- Radar chart of entity's stats -->
            <div id='entity_information_stats_wrapper'>
                Stats
                <div id='entity_information_stats_container'>
                    <!-- Network chart will go here -->
                </div>
            </div>
        </div>
    </div>
     <!-- ================================
        Footer
        ================================= -->
    <div id='footer_wrapper'>
        <div id='footer'>
            <span class='email'>
                liamg [ta] 1xeone 
            </span>
        </div>
    </div>
</div>

<!-- ======================================================================

    SCRIPTS

    ======================================================================= -->
<!-- less js -->
<script src="/static/script/libs/less.js" type="text/javascript"></script>
<!-- Google API -->
<script src='https://www.google.com/jsapi?key=ABQIAAAAIKnay6FXRbCarRCLzp6OSBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTSwhUv42NGUmSz4fSrk_Fa2Tgi9g' type='text/javascript'></script>
<script src='/static/script/libs/jquery.js'></script>

<!-- TODO : Compress all these scripts -->
<!-- ======================================================================

    Backbone

    ======================================================================= -->
<script src='/static/script/libs/underscore.js'></script>
<script src='/static/script/libs/json2.js'></script>
<script src='/static/script/libs/backbone.js'></script>

<!-- ======================================================================

    D3

    ======================================================================= -->
<script src='/static/script/libs/d3.js'></script>
<script src='/static/script/libs/d3_geom.js'></script>
<script src='/static/script/libs/d3_layout.js'></script>

<!-- ======================================================================
    SocketIO 
    ======================================================================= -->
<script src='http://localhost:1337/socket.io/socket.io.js'></script>

<!-- ======================================================================

    Vasir Engine Scripts

    ======================================================================= -->
<!-- Main VasirEngine Interaction Script -->
<script src='/static/script/engine_interaction.js' type='text/javascript'></script>
<!-- VasirEngine Canvas Script (Handles Canvas Functions)-->
<script src='/static/script/engine_canvas.js' type='text/javascript'></script>
<!-- VasirEngine WebSocket script -->
<script src='/static/script/engine_websocket.js' type='text/javascript'></script>
<!-- VasirEngine d3 script -->
<script src='/static/script/engine_d3.js' type='text/javascript'></script>

<!-- Page Setup (calls initialization functions and sets up page elements -->
<script src='/static/script/page_setup.js' type='text/javascript'></script>

</body>
</html>
