{% extends 'engine/base.html' %}

{% block site_content %}
<div id='content_wrapper'>
    <div id='content'>
        <!-- ================================ 
            Canvas (World representation)
            ================================= -->
        <div id='canvas_wrapper'>
            <canvas id='canvas' 
            width='600' height='500'></canvas>
        </div>

        <!-- ================================ 
            Select Entity Actions 
            ================================= -->
        <div id='entity_action_wrapper' class='visibility_none'>
            <h2>Selected Entity</h2>
            <div id='entity_actions'>
                <div id='selected_entity_wrapper'>
                    <div id='selected_entity'>
                        No Entity Selected
                    </div>
                    <div id='selected_entity_target_wrapper'>
                        Target: <span id='target_entity_id' 
                            class='no_target'>None</span>
                    </div>
                </div>
                <h2>Actions</h2>
                <div id='entity_action_buttons' class='buttons'>
                    <a id='set_entity_target'
                        href='#' class='button big'
                        title='Click on an entity to the right to set this
                        entitys target'>Set Target</a>
                    <br /><br />
                    <a id='get_entity_info'
                        href='#' class='button big'>Get Info</a>
                    <br /><br />
                    <a id='converse'
                        href='#' class='button big'
                        title='Run the converse action on the selected entity
                        and its target'>Converse</a>
                    <br /><br />
                    <a id='clear_entity_selection'
                        href='#' class='button big'>Clear Selection</a>
                </div>
            </div>
        </div>

        <!-- ================================ 
            All Entities List
            ================================= -->
        <div id='entities_list_wrapper' class=''>
            <h2 id='entities_list_header'>All Entities</h2>
            <div id='entities_list'>
                <ul id='entities_list_ul' class='buttons'>
                    <!-- Entities go here -->
                </ul>
            </div>
        </div>


        <!-- ================================ 
            Engine Actions
            ================================= -->
        <div id='engine_action_wrapper'>
            <h2>Engine Actions</h2>
            <div id='engine_actions'>
                <div id='engine_action_buttons' class='buttons'>
                    <a id='add_entity' href='#' 
                        class='button add-big'>Add Entity</a>
                    <br />
                    <br />
                    <a id='get_entities'
                        href='#' class='button flag-big'>Get All Entities</a>
                </div>
            </div>
        </div>



        <div class='clear'></div>
    </div>

    <!-- ================================ 
        Engine Log
        ================================= -->
    <div id='entity_information_wrapper'>
        <div id='entity_information'>
            <!-- Entity Info goes here -->
        </div>
    </div>
    <!-- ================================ 
        Engine Log
        ================================= -->
    <div id='engine_log_wrapper'>
        <div id='engine_log'>
            <ul id='engine_log_ul'>
                <!-- Insert log messages here -->
                <li>Vasir Engine Interaction - Initialized</li>
            </ul>
        </div>
        <div id='engine_log_buttons' class='buttons'>
            <a id='clear_log'
                href='#' class='button big'>Clear Log</a>
        </div>
    </div>
</div>
{% endblock site_content %}
